#!/bin/sh
#
#  Copyright 2013  Konstantin Slupko (email: linux0uid@gmail.com)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Mariadb (Mysql) bd name, user, password. 
# Имя базы данных Mariadb (MySql) пользоватлеь и его пароль.
#
dbname='dbname'
user='dbuser'
pass='password'
#
# Change this IP addresses and port of MySQL server
# Измените, при необходимости, значения IP адреса и номер порта для подключения к серверу базы данных.
#
# Example:
# host='127.0.0.1'
# port='3306'
host='localhost'
#
